{
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true,
        "es2022": true
    },
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error",
        "no-console": 0,
        "no-control-regex": 0,
        "no-fallthrough": 0,
        "no-useless-escape": 0
    },
    "extends": ["eslint:recommended", "prettier"]
}
